<div class="content">
  <!--  COMPONENT OF TITLE-->

  <div class="main">
    <div class="component-title">
      <p class="title">enviar uma sugestão</p>
    </div>

    <div class="suggestion-form">

      <div class="items">

        <p class="label">sugestão</p>
        <textarea class="input" cols="30" rows="10"></textarea>

        <p class="label">contato</p>
        <input class="input" type="text">

        <div class="checkboxes">
          <div class="checkbox">
            <p class="tiny-label">email</p>
            <input type="checkbox">
          </div>

          <div class="checkbox">
            <p class="tiny-label">instagram</p>
            <input type="checkbox">
          </div>

          <div class="checkbox">
            <p class="tiny-label">x/twitter</p>
            <input type="checkbox">
          </div>
        </div>

        <div class="action-button">
          <button class="button">enviar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="thanks-session">
    <div class="component-title">
      <p class="title">obrigado!</p>
    </div>
    <div class="action-button">
      <button class="button">voltar</button>
    </div>
  </div>

</div>

