<div class="content">

  <!--  TITLE OF THE COMPONENT-->
  <div class="component-title">
    <p class="title">outras enquetes</p>
  </div>


  <!--  THE INTIRE LIST OF POLLS-->
  <div class="polls-list">

    <!--    THE EMPHASIZED POLL #1-->
    <div class="emphasized-poll">
      <div class="items">
        <div class="title-bar">
          <p class="title">qual você prefere?</p>
        </div>
        <img class="left-image" src="assets/digital_book.png">
        <img class="right-image" src="assets/physical_book.png">
      </div>
    </div>

    <!--    THE LIST OF THE POLLS-->
    <div class="polls-rows">

      <div class="polls-row">
        <div class="items">

          <!--          POLL #2-->
          <div class="item">
            <div class="title-bar">
              <p class="title">qual você prefere?</p>
            </div>
            <img class="left-image" src="assets/digital_book.png">
            <img class="right-image" src="assets/physical_book.png">
          </div>

          <!--          POLL #3-->
          <div class="item">
            <div class="title-bar">
              <p class="title">qual você prefere?</p>
            </div>
            <img class="left-image" src="assets/digital_book.png">
            <img class="right-image" src="assets/physical_book.png">
          </div>

        </div>
      </div>

      <div class="polls-row">
        <div class="items">

          <!--          POLL #4-->
          <div class="item">
            <div class="title-bar">
              <p class="title">qual você prefere?</p>
            </div>
            <img class="left-image" src="assets/digital_book.png">
            <img class="right-image" src="assets/physical_book.png">
          </div>

          <!--          POLL #5-->
          <div class="item">
            <div class="title-bar">
              <p class="title">qual você prefere?</p>
            </div>
            <img class="left-image" src="assets/digital_book.png">
            <img class="right-image" src="assets/physical_book.png">
          </div>

        </div>
      </div>

    </div>

  </div>

  <!--  THE BUTTON TO SEE ALL POLLS-->
  <div class="action-button">
    <button class="button">ver todas</button>
  </div>

</div>

