<div class="content">

  <div class="holder">

    <div class="images">
      <div class="image-holder">
        <img class="logo" src="../../../assets/logo.png"/>
        <div class="social-media">
          <img class="logo" src="../../../assets/insta-icon.png"/>
          <img class="logo" src="../../../assets/x-icon.png"/>
        </div>

      </div>
    </div>
    <div class="menu-items">
      <p class="title" (click)="openCategories()">categorias</p>
      <p class="title" (click)="seeAll()">ver todas</p>
      <p class="title" (click)="openSuggestions()">enviar uma sugestão</p>
    </div>
  </div>

  <div class="holder">
    <div class="partition">
    </div>
  </div>

  <div class="holder">
    <p class="footer-title">Copyright©2022-2023, Tog Solutions Company. Todos os direitos reservados.</p>
  </div>

</div>
