<div class="content">
  <div class="component-title">
    <p class="title">criar enquete</p>
  </div>

  <div class="suggestion-form">

    <div class="items">

      <p class="label">titulo</p>
      <input class="input" type="text">

      <p class="label">opção 1</p>
      <input class="input" type="text">
      <input class="image-input" type="file">


      <p class="label">opção 2</p>
      <input class="input" type="text">
      <input class="image-input" type="file">

      <div class="action-button">
        <button class="button">enviar</button>
      </div>
    </div>
  </div>

</div>
