
<div class="content">
  <!--  TITLE OF THE COMPONENT-->
  <div class="component-title">
    <p class="title">categorias</p>
  </div>

  <div class="categories">
    <div class="categories-list">

      <div class="category">
        <p class="title">comidas</p>
      </div>

      <div class="category">
        <p class="title">famosos</p>
      </div>

      <div class="category">
        <p class="title">animais</p>
      </div>

      <div class="category">
        <p class="title">objetos</p>
      </div>

      <div class="category">
        <p class="title">filmes</p>
      </div>

      <div class="category">
        <p class="title">musica</p>
      </div>

      <div class="category">
        <p class="title">costumes</p>
      </div>

    </div>
  </div>

</div>
