<div class="content">

  <!--  THE COMPONENT FOR THE TITLE BAR-->
  <div class="desktop-center-holder">
    <div class="title-bar">
      <p class="title">{{ pollFullDto?.pollDto?.title }}</p>
    </div>
  </div>

  <!--  MOBILE COMPONENTS-->

  <div class="mobile-poll">

    <!--    THIS COMPONENT HOLD THE IMAGES TOGHETER-->

    <div class="images">
      <img class="image" src="{{ this.leftImage }} " alt=""/>
      <img class="image" src="{{ this.rightImage }}" alt=""/>
    </div>

    <!--    THE COMPONENT FOR THE LEFT CHOICE CONTROLS-->

    <div class="left-choice">
      <div class="poll-status">
        <p class="choice-title"> {{ pollFullDto?.choices?.at(0)?.title }} </p>
        <p class="choice-percentage">{{ this.leftPercentage?.toPrecision(2) }}% </p>
        <p class="choice-votes"> {{ pollFullDto?.choices?.at(0)?.votes }} </p>
        <div class="base">
          <div class="level"></div>
        </div>
      </div>
    </div>

    <!--    THE COMPONENT FOR THE RIGHT CHOICE CONTROLS-->

    <div class="right-choice">
      <div class="poll-status">
        <p class="choice-title"> {{ pollFullDto?.choices?.at(1)?.title }} </p>
        <p class="choice-percentage">{{ this.rightPercentage?.toPrecision(2) }}%</p>
        <p class="choice-votes"> {{ pollFullDto?.choices?.at(1)?.votes }} </p>
        <div class="base">
          <div class="level"></div>
        </div>
      </div>
    </div>


    <!-- BUTTONS FOR VOTE AGAIN AND SHARE-->

    <div class="action-buttons">
      <div class="vote-again">
        <div class="vote-again-title">votar de novo</div>
      </div>

      <div class="share-button">
        <img class="share-image" src="assets/share.png"/>
      </div>
    </div>


  </div>


  <!--  DESKTOP COMPONENTS-->
  <div class="desktop-center-holder">
    <div class="desktop-poll">

      <div class="action-panel">
        <div class="action-panel-items">

          <!--THIS COMPONENT SHOWS THE NAMES OF THE CHOICES-->
          <div class="choices-titles">
            <p class="status-choice-title"> {{ pollFullDto?.choices?.at(0)?.title }} </p>
            <p class="status-choice-title"> {{ pollFullDto?.choices?.at(1)?.title }} </p>
          </div>

          <!-- THIS COMPONENT SHOWS THE STATUS OF VOTING-->
          <div class="action-panel-poll-status">
            <div class="left-side">
              <div class="poll-status">
                <p class="choice-percentage">{{ this.leftPercentage?.toPrecision(2) }}%</p>
                <p class="choice-votes"> {{ pollFullDto?.choices?.at(0)?.votes }} </p>
                <div class="base">
                  <div class="level"></div>
                </div>
              </div>
            </div>
            <div class="right-side">
              <div class="poll-status">
                <p class="choice-percentage">{{ this.rightPercentage?.toPrecision(2) }}%</p>
                <p class="choice-votes"> {{ pollFullDto?.choices?.at(1)?.votes }} </p>
                <div class="base">
                  <div class="level"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- THIS BUTTONS ARE FOR VOTING AGAIN AND SHARE         -->
          <div class="action-panel-button"> votar de novo</div>
          <div class="action-panel-button"> compartilhar
            <img class="share-image" src="assets/share.png">
          </div>
        </div>

      </div>

      <!--THIS IS THE LEFT CHOICE CONTROLS      -->
      <div class="desktop-left-choice">
        <img class="desktop-left-image" src="{{ this.leftImage }} "/>
        <button class="desktop-left-poll-button">
          <div class="choice-title"> {{ pollFullDto?.choices?.at(0)?.title }} </div>
        </button>
      </div>

      <!--THIS IS THE RIGHT CHOICE CONTROLS      -->

      <div class="desktop-right-choice">
        <img class="desktop-right-image" src="{{ this.rightImage }} "/>
        <button class="desktop-right-poll-button">
          <div class="choice-title"> {{ pollFullDto?.choices?.at(1)?.title }} </div>
        </button>
      </div>

    </div>
  </div>

</div>
