.mobile-poll {
  display: none;
}

.desktop-center-holder {
  display: flex;
  justify-content: center;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 688px;
  height: 48px;
  background-color: #001f21;
}

.title-bar .title {
  color: #f7f5e2;
  font-size: 36px;
}

.desktop-poll {
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.action-panel {
  opacity: 0;
  /*THIS VARIABLE CHANGE THE SIDE OF ACTION PANEL*/
  justify-content: center;
  /*THIS VARIABLE SENDS PANEL TO BACK*/
  z-index: -1;
  width: 686px;
  align-self: center;
  display: flex;
  position: absolute;
  transition: 2s;
}

.action-panel-items {
  width: 46%;
}

.action-panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #ECC039;
  border-radius: 16px;
  font-weight: 1000;
  color: #001F21;
  font-size: 24px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 4px -2px #001F21;
  cursor: pointer;
}

.action-panel-button:active {
  transform: scale(0.9);
}

.share-image {
  margin-left: 4px;
  width: 28px;
  height: 24px;
}

.choices-titles {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.status-choice-title{
  width: 50%;
  font-weight: 1000;
  color: #001F21;
  font-size: 20px;
  text-align: center;
}

.action-panel-poll-status {
  width: 100%;
  height: 80px;
  display: flex;
  margin-bottom: 12px;
}

.left-side {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  justify-self: flex-start;
  position: relative;
}


.left-side .poll-status {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:2;
  display: grid;
}

.left-side .base {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #66797a;
  border-radius: 16px 0px 0px 16px;
}

.left-side .level {
  z-index:3;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #029B99;
  border-radius: 16px 0px 0px 16px;
  transition: 2s;
  transition-delay: 0.5s;
}

.left-side .choice-percentage {
  opacity: 1;
  z-index:4;
  margin-left: 10%;
  position: absolute;
  align-self: center;
  justify-self: center;
  font-weight: 500;
  color: #f6e7d3;
  font-size: 24px;
  text-align: center;
}

.left-side .choice-votes {
  opacity: 1;
  z-index: 4;
  margin-right: 12px;
  position: absolute;
  align-self: center;
  justify-self: flex-end;
  font-weight: 500;
  color: #f6e7d3;
  font-size: 12px;
  text-align: center;
}

.right-side {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  justify-self: flex-end;
  position: relative;
}

.right-side .poll-status {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:2;
  display: grid;
}

.right-side .base {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #66797a;
  border-radius: 0px 16px 16px 0px;
}

.right-side .level {
  z-index:3;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #de4f15;
  border-radius: 0px 16px 16px 0px;
  transition: 2s;
  transition-delay: 0.5s;
}

.right-side .choice-percentage {
  z-index:4;
  margin-right: 10%;
  position: absolute;
  align-self: center;
  justify-self: center;
  font-weight: 500;
  color: #f6e7d3;
  font-size: 24px;
  text-align: center;
}

.right-side .choice-votes {
  z-index: 4;
  margin-left: 12px;
  position: absolute;
  align-self: center;
  justify-self: flex-start;
  font-weight: 500;
  color: #f6e7d3;
  font-size: 12px;
  text-align: center;
}

.desktop-left-choice {
  /*THIS VARIABLE CONTROLS IF THE LEFT CHOICE APPEARS OR DISAPPEARS */
  opacity: 1;
  width: 328px;
  height: 328px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  justify-self: flex-end;
  position: relative;
  transition-duration: 1s;
}

.desktop-right-choice {
  /*THIS VARIABLE CONTROLS IF THE RIGHT CHOICE APPEARS OR DISAPPEARS */
  opacity: 1;
  margin-left: 16px;
  width: 328px;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  justify-self: flex-end;
  align-self: flex-start;
  transition-duration: 1s;
}

.desktop-left-image {
  width: 100%;
  height: 328px;
  object-fit: cover;
  border-radius: 16px;
}

.desktop-right-image {
  width: 100%;
  height: 328px;
  object-fit: cover;
  border-radius: 16px;
}

.desktop-left-poll-button {
  margin-bottom: 48px;
  position: absolute;
  z-index:2;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px -2px #001F21;
  border: none;
  width: 72%;
  height: 64px;
  background-color: #029B99;
  border-radius: 16px;
  transition: 0.3s;
}

.desktop-right-poll-button {
  margin-bottom: 48px;
  position: absolute;
  z-index:2;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px -2px #001F21;
  border: none;
  width: 72%;
  height: 64px;
  background-color: #DE4F15;
  border-radius: 16px;
  transition-duration: 0.3s;
}

.desktop-right-poll-button:active,
.desktop-left-poll-button:active {
  transform: scale(0.9);
}

.desktop-right-poll-button:hover,
.desktop-left-poll-button:hover {
  box-shadow: 1px 4px 4px -2px #001F21;
  text-shadow: 1px 1px 1px #66797a;
}

.choice-title {
  z-index:4;
  position: absolute;
  align-self: center;
  font-weight: 1000;
  color: #f6e7d3;
  font-size: 24px;
  text-align: center;
}





/***************************************************************************************/


@media only screen and (max-width: 600px) {

  .desktop-poll {
    display: none;
  }

  .desktop-center-holder {
    display: block;
  }

  .title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #001f21;
  }

  .title-bar .title {
    color: #f7f5e2;
    font-size: 24px;
  }

  .mobile-poll {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .images {
    z-index: 0;
    width: 100%;
    display: flex;
    position: absolute;
    justify-self: center;
  }

  .images .left-image {
    width: 50%;
    height: 486px;
    object-fit: cover;
    transition-duration: 1s;
  }

  .images .right-image {
    width: 50%;
    height: 486px;
    object-fit: cover;
    transition-duration: 1s;
  }

  .left-choice {
    width: 180px;
    height: 486px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    justify-self: flex-start;
    position: relative;
  }

  .left-choice .poll-status {
    margin-bottom: 82px;
    position: absolute;
    z-index:2;
    display: grid;
    justify-content: center;
    width: 168px;
  }

  .left-choice .base {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 168px;
    height: 64px;
    background-color: #66797a;
    border-radius: 16px 0px 0px 16px;
  }

  .left-choice .level {
    z-index:1;
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #029B99;
    border-radius: 16px 0px 0px 16px;
    transition-duration: 1s;
  }

  .left-choice .choice-title {
    opacity: 1;
    z-index:4;
    position: absolute;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 24px;
    text-align: center;
    transition-duration: 1s;
  }

  .left-choice .choice-percentage {
    opacity: 0;
    z-index:4;
    position: absolute;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 24px;
    text-align: center;
    transition-duration: 1s;
  }

  .left-choice .choice-votes {
    opacity: 0;
    z-index:4;
    margin-right: 12px;
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 12px;
    text-align: center;
    transition-duration: 1s;
  }



  .right-choice {
    width: 180px;
    height: 486px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    justify-self: flex-end;

  }

  .right-choice .poll-status {
    margin-bottom: 82px;
    position: absolute;
    z-index:2;
    display: grid;
    justify-content: center;
    width: 168px;
  }

  .right-choice .base {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 168px;
    height: 64px;
    background-color: #66797a;
    border-radius: 0px 16px 16px 0px;
  }

  .right-choice .level {
    z-index:1;
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #de4f15;
    border-radius: 0px 16px 16px 0px;
    transition-duration: 1s;
  }

  .right-choice .choice-title {
    opacity: 1;
    z-index:4;
    position: absolute;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 24px;
    text-align: center;
    transition-duration: 1s;
  }

  .right-choice .choice-percentage {
    opacity: 0;
    z-index:4;
    position: absolute;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 24px;
    text-align: center;
    transition-duration: 1s;
  }

  .right-choice .choice-votes {
    opacity: 0;
    z-index: 4;
    margin-left: 12px;
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    font-weight: 500;
    color: #f6e7d3;
    font-size: 12px;
    text-align: center;
    transition-duration: 1s;
  }

  .action-buttons {
    opacity: 0;
    z-index: -1;
    width: 360px;
    height: 42px;
    display: flex;
    position: absolute;
    justify-content: center;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 20px;
    gap: 24px;
    transition-duration: 1s;
  }

  .vote-again {
    position: relative;
    z-index:2;
    display: flex;
    justify-content: center;

    width: 232px;
    height: 42px;
    background-color: #ECC039;
    border-radius: 16px;
  }

  .vote-again-title {
    color: #001F21;
    font-size: 24px;
    align-self: center;
    font-weight: 1000;
  }

  .share-button {
    position: relative;
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 42px;
    background-color: #ECC039;
    border-radius: 16px;
  }

  .share-image {
    width: 28px;
    height: 24px;
  }

  .vote-again:active,
  .share-button:active {
    transform: scale(0.9);
  }

}
