<div class="top-bar">
  <img class="logo " src="../../../assets/logo.png"/>
  <div class="menu-options">
    <div class="menu-option">categorias</div>
    <div class="menu-option">ver todas</div>
    <div class="menu-option">enviar sugestão</div>
  </div>
  <img class="menu-icon" src="../../../assets/hamburguer.png"/>
</div>

<div class="mobile-menu">
  <div class="rectangle"></div>
  <div class="holder">
    <div class="option">
      <p class="title">inicio</p>
      <img class="image" src="../../../assets/right-arrow.png">
    </div>

    <div class="option">
      <p class="title">categorias</p>
      <img class="image" src="../../../assets/right-arrow.png">
    </div>

    <div class="option">
      <p class="title">ver todas</p>
      <img class="image" src="../../../assets/right-arrow.png">

    </div>
    <div class="option">
      <p class="title">enviar sugestão</p>
      <img class="image" src="../../../assets/right-arrow.png">

    </div>
  </div>
</div>
