<div class="content">

  <!--  TITLE OF THE COMPONENT-->
  <div class="component-title">
    <p class="title">outras enquetes</p>
  </div>


  <!--  THE INTIRE LIST OF POLLS-->
  <div class="polls-list">

    <!--    THE EMPHASIZED POLL #1-->
    <div class="emphasized-poll" (click)="openPoll(this.pollsDto!.at(0)!)">
      <div class="items">
        <div class="title-bar">
          <p class="title"> {{ this.pollsDto?.at(0)?.title }} </p>
        </div>
        <img class="left-image" src="{{ this.base64 + this.pollsDto?.at(0)?.images?.at(0) }}" alt="">
        <img class="right-image" src="{{ this.base64 + this.pollsDto?.at(0)?.images?.at(1) }}" alt="">
      </div>
    </div>

    <!--    THE LIST OF THE POLLS-->
    <div class="polls-rows">

      <div class="polls-row">
        <div class="items">

          <!--          POLL #2-->
          <div class="item" (click)="openPoll(this.pollsDto!.at(1)!)">
            <div class="title-bar">
              <p class="title"> {{ this.pollsDto?.at(1)?.title }} </p>
            </div>
            <img class="left-image" src="{{ this.base64 + this.pollsDto?.at(1)?.images?.at(0) }}">
            <img class="right-image" src="{{ this.base64 + this.pollsDto?.at(1)?.images?.at(1) }}">
          </div>

          <!--          POLL #3-->
          <div class="item" (click)="openPoll(this.pollsDto!.at(2)!)">
            <div class="title-bar">
              <p class="title"> {{ this.pollsDto?.at(2)?.title }} </p>
            </div>
            <img class="left-image" src="{{ this.base64 + this.pollsDto?.at(2)?.images?.at(0) }}">
            <img class="right-image" src="{{ this.base64 + this.pollsDto?.at(2)?.images?.at(1) }}">
          </div>

        </div>
      </div>

      <div class="polls-row">
        <div class="items">

          <!--          POLL #4-->
          <div class="item" (click)="openPoll(this.pollsDto!.at(3)!)">
            <div class="title-bar">
              <p class="title"> {{ this.pollsDto?.at(3)?.title }} </p>
            </div>
            <img class="left-image" src="{{ this.base64 + this.pollsDto?.at(3)?.images?.at(0) }}">
            <img class="right-image" src="{{ this.base64 + this.pollsDto?.at(3)?.images?.at(1) }}">
          </div>

          <!--          POLL #5-->
          <div class="item" (click)="openPoll(this.pollsDto!.at(4)!)">
            <div class="title-bar">
              <p class="title"> {{ this.pollsDto?.at(4)?.title }} </p>
            </div>
            <img class="left-image" src="{{ this.base64 + this.pollsDto?.at(4)?.images?.at(0) }}">
            <img class="right-image" src="{{ this.base64 + this.pollsDto?.at(4)?.images?.at(1) }}">
          </div>

        </div>
      </div>

    </div>

  </div>

  <!--  THE BUTTON TO SEE ALL POLLS-->
  <div class="action-button">
    <button class="button">ver todas</button>
  </div>

</div>
