<div class="content">

  <!--  TITLE OF THE COMPONENT-->
  <div class="component-title">
    <p class="title">todas as enquetes</p>
  </div>

  <div class="polls-list">


    <!--      ROW #1-->
    <div class="polls-row">

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>

        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>
    </div>
    <!--      ROW #2-->
    <div class="polls-row">

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>

        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>
    </div>

    <!--    ROW #3-->
    <!--      ROW #2-->
    <div class="polls-row">

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>

        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>
    </div>

    <!--    ROW #4-->

    <!--      ROW #2-->
    <div class="polls-row">

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>

        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>

      <div class="half-row">
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
        <div class="item">
          <div class="title-bar">
            <p class="title">qual você prefere?</p>
          </div>
          <img class="left-image" src="../../../assets/digital_book.png">
          <img class="right-image" src="../../../assets/physical_book.png">
        </div>
      </div>
    </div>


  </div>

</div>

