<div class="content">

  <div class="component-title">
    <p class="title"> {{ this.title }}</p>
  </div>

  <div class="poll-container">
  <div class="polls-row">

    <div class="item" (click)="openPoll(poll)" *ngFor="let poll of this.pollPageDto?.pollDtoList">
      <div class="title-bar">
        <p class="title"> {{ poll.title }} </p>
      </div>
      <img class="left-image" src="{{ this.base64 + poll.images.at(0) }}">
      <img class="right-image" src="{{ this.base64 + poll.images.at(1) }}">
    </div>

  </div>

  </div>

</div>
