<div class="content">
    <div class="component-title">
        <p class="title"> enquetes </p>
    </div>


    <div class="table-container">
        <table>
            <tr>
                <th>enquete</th>
                <th></th>
                <th (click)="openCreateForm()">
                    <img src="assets/add.png">
                </th>
            </tr>

            <tr *ngFor="let poll of this.pollsDto">
                <td> {{poll.title}} </td>
                <td (click)="editPoll(poll.id)"> editar </td>
                <td> deletar </td>
            </tr>
        </table>
    </div>



</div>
